<%= flash[:notice] %>
<table>
	<thead>
		<tr>
			<th>Value</th>
		</tr>
	</thead>
	<tbody>
		<% @users.each do |user| %>
			<tr>
				<td><%= user.user %></td>
			</tr>
	</tbody>
</table>

<div>
	<h4>Import csv</h4>
	<%= form_tag import_users_path, multiparth: true do %>
		<%= file_field_tag :file %>
		<%= submit_tag "IMport CSV" %>
	<% end %>
</div>
