<%= form_with(model: cinamas_film, local: true) do |form| %>
  <% if cinamas_film.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cinamas_film.errors.count, "error") %> prohibited this cinamas_film from being saved:</h2>

      <ul>
      <% cinamas_film.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :cinema_id %>
    <%= form.number_field :cinema_id, id: :cinamas_film_cinema_id %>
  </div>

  <div class="field">
    <%= form.label :film_id %>
    <%= form.number_field :film_id, id: :cinamas_film_film_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
