<p id="notice"><%= notice %></p>

<h1>Cinamas Films</h1>

<table>
  <thead>
    <tr>
      <th>Cinema</th>
      <th>Film</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cinamas_films.each do |cinamas_film| %>
      <tr>
        <td><%= cinamas_film.cinema_id %></td>
        <td><%= cinamas_film.film_id %></td>
        <td><%= link_to 'Show', cinamas_film %></td>
        <td><%= link_to 'Edit', edit_cinamas_film_path(cinamas_film) %></td>
        <td><%= link_to 'Destroy', cinamas_film, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cinamas Film', new_cinamas_film_path %>
